body {
  font-family: "Noto Sans TC", sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 1.5rem;
}

table td,
table th {
  border: 1px solid #ddd;
  text-align: center;
}
